<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">BSN</a>
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Home -->
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/books">
                    <i class="fas fa-home-alt"></i>&nbsp;Home
                </a>
            </li>
            <!-- MyBooks -->
            <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="my-books">
                    <i class="fas fa-book"></i>&nbsp;My Books
                </a>
            </li>

            <!-- Waiting List -->
            <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/my-waiting-list">
                    <i class="fa-regular fa-hourglass-half"></i>&nbsp;My Waiting List
                </a>
            </li>

              <!-- My Returned Books -->
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="my-returned-books">
                    <i class="fa-regular fa-square-caret-left"></i>&nbsp;My Returned Books
                </a>
            </li>

             <!-- My Borrowed Books -->
             <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="my-borrowed-books">
                    <i class="fa-solid fa-book-bookmark"></i>&nbsp;My Borrowed Books
                </a>
            </li>

        </ul>

        <!-- searchBar -->
        <form  class="d-flex gap-2 align-items-center" role="search">
            <input type="text" class="form-control" placeholder="Find a book" aria-label="search">
            <button class="btn btn-outline-success" type="submit">
                <i class="fas fa-search"></i> 
            </button>
                <span>Welcome</span>
                <span class="text-capitalize fw-bold">Ibrahim</span>
                <button class="btn btn-link" type="button"(click)="logOut()"><i class="fas fa-door-open"></i></button>
        </form>
    </div>
</div>

</nav>